{% extends 'base.html' %}

{% load static %}
{% block content %}

<div id="about" class="container-fluid">
    <div class="row">
        <div id='aboutme' class="col">
            <h1>About me</h1>
            <p>I am an inquisitive individual who enjoys the challenge of learning new skills. My life experiences have allowed me to engage with people from many different backgrounds with stories to tell. The world needs more content from a variety of voices. I help create community and connection through depicting these narratives within current media with my passion for diversity and inclusion. During this process I know that criticism is not an opportunity for self doubt, but rather an opportunity for growth. Let’s grow together! </p>
        </div>
        <br/>
        <div class="col">
            <div class="square">
                <div class="pic">
                    <img src="{% static 'images/headshot.png'  %}" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="skills" class="container-fluid">
    <div class="row">
        <div id='skills-head' class="col"><h1>Skills</h1></div>
    </div>
    <div>
        <div class="row">
            <div class="col"><img class='mx-auto d-block' src="{% static 'images/javascript.png' %}"/></div>
            <div class="col"><img class='mx-auto d-block' src="{% static 'images/node_js.png' %}"/></div>
            <div class="col"><img class='mx-auto d-block' src="{% static 'images/express.png' %}"/></div>
            <div class="col"><img class='mx-auto d-block' src="{% static 'images/django.png' %}"/></div>
            <div class="col"><img class='mx-auto d-block' src="{% static 'images/html.png' %}"/></div>
        </div>
        <div class="row skill-row">
            <div class="col"><img class='mx-auto d-block' src="{% static 'images/css.png' %}"/></div>
            <div class="col"><img class='mx-auto d-block' src="{% static 'images/ejs.png' %}"/></div>
            <div class="col"><img class='mx-auto d-block' src="{% static 'images/react.png' %}"/></div>
            <div class="col"><img class='mx-auto d-block' src="{% static 'images/mongodb.png' %}"/></div>
            <div class="col"><img class='mx-auto d-block' src="{% static 'images/postgresql.png' %}"/></div>
        </div>
    </div>
</div>
<div id="contact" class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Contact</h1>
        </div>
    </div>
    <div class="row">
        <div class="col"><a href="https://www.linkedin.com/in/ely-trendell/"><img class='mx-auto d-block' src="{% static 'images/linkedin.png' %}"   /></a></div>
        <div class="col"><a href="https://github.com/elytren"><img class='mx-auto d-block' src="{% static 'images/github.png' %}"   /></a></div>
        <div class="col"><a href="mailto:elysetrendell@gmail.com"><img class='mx-auto d-block' src="{% static 'images/gmail.png' %}"   /></a></div>
    </div>
</div>
<div class="container-fluid" id="projects">
    <h1 class="p-5">Projects</h1>
    <div class="row">
        <div class="p-2 col">
            <div>
                <h3>Cedar</h3>
                <img id='cedar' src="{% static 'images/cedar.png' %}"  />
            </div>
            <div class="p-3">
                <a href="https://github.com/elytren/Cedar"><button>Repo</button></a>
                <a href="https://elytren.github.io/Cedar/"><button>Site</button></a>
            </div>
        </div>
        <div class="p-3 col">
            <div>
                <h3>Westview</h3>
                <img id='westview' src="{% static 'images/westview.png' %}"/>
            </div>
            <div class="p-3">
                <a href="https://github.com/elytren/Westview"><button>Repo</button></a>
                <a href="https://wandavision-westview.herokuapp.com/wv"><button>Site</button></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="p-3 col">
            <div>
                <h3>Plant it Forward</h3>
                <img id='pif' src="{% static 'images/plant_it_forward.png'  %}" />
            </div>
            <div class="p-3">
                <a href="https://github.com/Plants-and-stuff"><button>Repo</button></a>
                <a href="https://plant-it-forward.herokuapp.com/"><button>Site</button></a>
            </div>
        </div>
        <div class="p-3 col">
            <div>
                <h3>Free Trade Adventures</h3>
                <img id='pif' src="{% static 'images/fta.png'  %}" />
            </div>
            <div class="p-3">
                <a href="https://github.com/elytren/Tiny-Libraries-Frontend"><button>Repo</button></a>
                <a href="https://freetradeadventures.netlify.app/"><button>Site</button></a>
            </div>
        </div>
    </div>
   
</div> 

{% endblock %}
      